/**
 * See the LICENSE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

/* This targets the "content" node used by the Nextcloud wrapper. */
div#content {
  display: grid;
  background-color: var(--cr-panel-background-color);
}

/* This targets the "content" node used by Cristal. */
article#content {
  display: grid;
  height: 100%;
  padding: 0 var(--cr-spacing-2x-large);
  overflow: auto;
  margin: unset;
  width: unset;
}

article#content:not(.with-sidebar--full) {
  position: unset;
}

/* This targets italic text inside the page and editor. */
article#content em {
  font-style: italic;
  color: inherit;
}

/* This targets the doc header, important during edition. */
article#content .doc-title {
  height: unset;
}

/* This targets the editor. */
article#content .editor div[contenteditable="true"] {
  width: unset;
}

/* This targets the floating menu of Blocknote. */
article#content .editor .bn-side-menu {
  /* We adjust the positioning to take into account Nextcloud's padding. */
  position: relative;
  left: -20px;
  top: -4px;
}

/* This targets the buttons from the floating menu of Blocknote. */
article#content .editor .bn-side-menu button {
  padding: 0;
}

/* This targets floating input fields in Blocknote. */
article#content .editor .bn-form-popover input {
  padding: 0 var(--input-padding-inline-end) 0 var(--input-padding-inline-start);
}
