/**
 * See the LICENSE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */

/* We scope the following rules to not impact Nextcloud's header.
   All of these rules should no longer be required once we have a Nextcloud ds
   that supports dark mode. */
.xw-cristal {
  color: var(--cr-base-text-color);

  main a, .v-overlay-container a {
    color: var(--cr-base-link-color);
  }

  span, div, p {
    cursor: unset;
  }

  .content:not(#content-vue) :focus-visible {
    box-shadow: unset !important;
  }

  /* Override "inputs.scss" changes. */
  input:not([type=range],.input-field__input,[type=submit],[type=button],[type=reset],.multiselect__input,.select2-input,.action-input__input,[class^=vs__]),
  select,
  div[contenteditable=true],
  textarea {
    margin: unset !important;
    margin-inline-start: unset !important;
    padding: unset !important;
    font-family: unset !important;
    font-size: unset !important;
    background-color: unset !important;
    color: unset !important;
    border: unset !important;
    height: unset !important;
    outline: unset !important;
    border-radius: unset !important;
    text-overflow: unset !important;
  }

  div[contenteditable=true] {
    width: unset !important;
  }

  input:not([type=range],.input-field__input,[type=submit],[type=button],[type=reset],.multiselect__input,.select2-input,.action-input__input,[class^=vs__]):not(:disabled):hover,
  input:not([type=range],.input-field__input,[type=submit],[type=button],[type=reset],.multiselect__input,.select2-input,.action-input__input,[class^=vs__]):not(:disabled):focus,
  input:not([type=range],.input-field__input,[type=submit],[type=button],[type=reset],.multiselect__input,.select2-input,.action-input__input,[class^=vs__]):not(:disabled):active,
  select:not(:disabled):hover,
  select:not(:disabled):focus,
  select:not(:disabled):active,
  div[contenteditable=true]:not(:disabled):hover,
  div[contenteditable=true]:not(:disabled):focus,
  div[contenteditable=true]:not(:disabled):active,
  textarea:not(:disabled):hover,
  textarea:not(:disabled):focus,
  textarea:not(:disabled):active {
    box-shadow: unset !important;
  }

  input:not([type=radio]):not([type=checkbox]):not([type=range]):not([type=submit]):not([type=button]):not([type=reset]):not([type=color]):not([type=file]):not([type=image]) {
    height: unset !important;
  }

  button:not(.button-vue,[class^=vs__]) {
    font-weight: unset !important;
    border-radius: unset !important;
    width: unset !important;
    min-height: unset !important;
    background-color: unset !important;
    border: unset !important;
    color: unset !important;
  }

  button:not(.button-vue,[class^=vs__]):disabled {
    background-color: unset !important;
    color: unset !important;
    opacity: unset !important;
  }

  button:not(.button-vue,[class^=vs__]):not(.app-navigation-entry-button) {
    margin: unset !important;
  }

  select:hover,
  select:focus,
  button:not(.button-vue,[class^=vs__]):hover,
  button:not(.button-vue,[class^=vs__]):focus,
  .button:hover,
  .button:focus,
  input[type=button]:hover,
  input[type=button]:focus,
  input[type=submit]:hover,
  input[type=submit]:focus,
  input[type=reset]:hover,
  input[type=reset]:focus {
    background-color: unset !important;
  }

  /* Vuetify-specific */
  button.v-btn {
    border-radius: 4px !important;
  }

  button.v-btn--size-default {
    --v-btn-size: .875rem !important;
    --v-btn-height: 36px !important;
    font-size: var(--v-btn-size) !important;
    min-width: 64px !important;
    padding: 0 16px !important;
  }

  button.v-btn--disabled:not(.button-vue, [class^="vs__"]) {
    opacity: .26 !important;
  }
}
